.additional-card {
  width: 280px;
  padding: 13px 20px 19px;
}

.additional-card__title {
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.additional-card__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 14px;
  color: $special-dark-grey;
}
