.basic-button {
  display: block;
  margin: 0;
  padding: 10px 0;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  text-decoration: none;
  background-color: $basic-green;
  border: none;

  &--selection {
    order: 3;
    width: 100%;
    margin-top: auto;
    padding: 11px 0;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      width: 244px;
      margin: 0;
      padding: 16px 26px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: transparentize($basic-white, 0.7);
  }

  &--show-more {
    background-color: $basic-grey;
    color: $special-dark-grey;

    &:hover {
      background-color: $special-grey-2;
    }

    &:active {
      background-color: $special-grey-2;
      color: $special-dark-grey;
      opacity: 0.3;
    }
  }

  &--form {
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 16px 0;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
