.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $basic-white;
  padding: 27px 20px 25px;

  &--inner {
    background-color: $basic-grey;

    @media (min-width: $desktop-width) {
      background-color: $basic-white;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 57px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    column-gap: 94px;
    width: 565px;
    padding: 58px 80px 60px;
  }
}

.contacts__invitation {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $strong;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    text-align: start;
  }
}

.contacts__adress-street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.contacts__adress-town {
  margin: 0;
}
