.desc {
  @include wrapper;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.desc__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.desc__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: section;

  @include list-reset;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 58px;
    row-gap: 94px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.desc__item {
  position: relative;
  width: 100%;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 325px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      top: 0;
      left: 118px;
      z-index: -1;
      font-family: $accent-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
    }
  }
}

.desc__text {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding-left: 80px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 245px;
    padding-top: 151px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }

  &--leaf::before {
    @include desc-icon;
    background-image: url("../../img/icon-leaf.svg");
  }

  &--tub::before {
    @include desc-icon;
    background-image: url("../../img/icon-tub.svg");
  }

  &--eat::before {
    @include desc-icon;
    background-image: url("../../img/icon-eat.svg");
  }

  &--alarm::before {
    @include desc-icon;
    background-image: url("../../img/icon-alarm.svg");
  }
}
