.example {
  width: 100%;
  background-color: $light-grey;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 40px;
}

.example__title {
  margin: 0;

  @include big-title;
}

.example__text {
  color: $special-dark-grey;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.example__item {
  text-align: center;
}

.example__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__option {
  width: 82px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
}

.example__cost {
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
