.form-programs {
  @include wrapper;
  margin-bottom: 26px;
  padding: 22px 20px 19px;
  font-family: $accent-font;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    padding: 25px 40px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid $border;
  }
}

.form-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-programs__item:not(:last-child) {
  margin-bottom: 12px;
}
