.form-more {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: $accent-font;
  font-size: 16px;
  border: none;
  overflow-x: hidden;
}

.form-more__title-wrapper {
  @include wrapper;

  &::after {
    @include title-line;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

.form-more__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 23px;
  font-size: 24px;
  line-height: 26px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.form-more__list {
  row-gap: 32px;
  text-transform: uppercase;

  @include list-reset;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 59px;
    row-gap: 42px;
    margin-bottom: 58px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 80px;
    margin-bottom: 66px;
    padding: 0;
  }
}

.form-more__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form-more__control {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-more__input + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-more__input:hover + label::before {
  border-color: $button-hover;
}

.form-more__input:checked + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  background-color: transparent;
  background-image: url("../img/checkbox-active.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: 24px 19px;
  }
}

.form-more__input:checked:hover + label::before {
  border-color: $button-hover;
}

.form-more__input:disabled + label {
  opacity: 0.3;
}
