.form-contacts {
  position: relative;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 0;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 18px;
  border: none;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
    padding: 0;
  }
}

.form-contacts__title-wrapper {
  @include wrapper;


  &::after {
    @include title-line;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

.form-contacts__title {
  display: inline-block;
  margin-bottom: 35px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 26px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 76px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-contacts__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-contacts__container {
  @media (min-width: $tablet-width) {
    padding-right: 38px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form-contacts__item-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form-contacts__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-contacts__label {
  text-transform: uppercase;
  color: $special-dark-grey;

  &--email {
    margin-right: 13px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 24px;
    }
  }

  &--phone {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 16px;
    }
  }
}

.form-contacts__input {
  position: relative;
  flex-grow: 1;
  padding: 15px 13px 10px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  outline: 1px solid $border;
  border: none;
  transition: all 0.3 ease;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 17px;
  }

  &::placeholder {
    @include placeholder;
  }

  &--error {
    outline: 2px solid $status-error;
  }

  &--email::placeholder {
    text-decoration: underline;

    @media (min-width: $tablet-width) {
      text-decoration: none;
    }
  }
}

.form-contacts__input--error + .form-contacts__input-icon {
  color: $status-error;
}

.form-contacts__input-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  transition: all 0.3 ease;

  @media (min-width: $desktop-width) {
    right: 17px;
  }
}

.form-contacts__input:hover {
  outline: 1px solid $special-grey;
  border: none;

  + .form-contacts__input-icon {
    color: $basic-black;
  }
}

.form-contacts__input:focus {
  outline: 2px solid $special-dark-grey;
  border: none;

  + .form-contacts__input-icon {
    color: $basic-green;
  }
}
