.form-programs {
  width: 320px;
  margin: 0;
  margin-bottom: 26px;
  padding: 22px 20px 19px;
  font-family: $font-family-2;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid $border;
  box-sizing: border-box;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 71px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0;
  }
}

.form-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-programs__item:not(:last-child) {
  margin-bottom: 12px;
}
