.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $accent-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 6.5px 0 0 $basic-black, 0 13px 0 0 $basic-black;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 21px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__logo {
  display: flex;
  justify-content: space-between;
  width: 191px;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-nav__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__logo-image-title {
  align-self: center;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 13.5px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 17.5px;
  padding: 0;
  background-color: $basic-white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  position: absolute;
  top: 54px;
  right: 0;
  z-index: 1;
  background-color: $basic-white;

  @include wrapper;
  @include list-reset;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    width: 440px;
    padding: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.main-nav__item {
  width: 100%;
  border-top: 1px solid $header-border-2;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid $header-border-2;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 23px 0 22px;
  text-align: center;
  color: $basic-black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $tablet-width) {
      text-decoration: underline;
      text-decoration-color: $basic-green;
      text-decoration-thickness: 2px;
      text-underline-offset: 11px;
    }

    @media (min-width: $desktop-width) {
      text-decoration-color: $basic-white;
    }
  }

  &--inner-active {
    text-decoration-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &--page-main {
      color: $basic-white;
    }
  }
}
