.page-form {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-form__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;
  font-family: $font-family-2;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.page-form__cat-programs-wrapper {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 69px;
  }
}
