.page-main-form {
  width: 100%;
  margin: 0 auto;
  padding: 27px 0 32px;


  @media (min-width: $tablet-width) {
    padding: 40px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 82px;
  }
}

.page-main-form__title {
  @include wrapper;
  padding-bottom: 37px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    padding-left: 70px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 56px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main-form__button-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 61px;
    align-items: center;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    gap: 81px;
    padding: 0 110px;
  }
}

.page-main-form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-main-form__legend {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}
