.page-header {
  @include wrapper;

  position: relative;
  z-index: 2;
  padding: 11px 0 15px;

  &--inner-page {
    border-bottom: 1px solid $header-border;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 30px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 110px;
  }
}
