.page-main {
  width: 100%;
}

.page-main__promo-selection-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1330px;
    margin: 0 auto;
    margin-bottom: 82px;
    padding-left: 110px;
  }
}
