.page-main-form {
  width: 320px;
  margin: 0 auto;
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 40px 0 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 20px 0 82px;
  }
}

.page-main-form__title {
  margin: 0;
  padding: 0 20px 37px;
  font-family: $font-family-2;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 56px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main-form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-main-form__button {
  width: 280px;
  margin: 0 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 192px;
    margin: 0;
    margin-left: 38px;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0;
    margin-right: 81px;
  }
}

.page-main-form__legend {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $basic-black;
}
