.page-form {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-form__text {
  @include wrapper;
  margin-bottom: 39px;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.page-form__cat-programs-wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 71px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 49px;
    padding: 0;
  }
}
