.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 20px 20px 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 324px;
    padding: 0 38px 39px;
    padding-top: 0;
    background-color: $basic-grey;
    background-image: linear-gradient($basic-white 59px, $basic-grey 59px);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px 39px;
    background-image: linear-gradient($basic-white 73px, $basic-grey 73px);
  }
}

.product-card__link-image {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    width: 100%;
    height: 200px;
    margin: 0;
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
    margin-bottom: 41px;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: auto;
  }

  &--small {
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }
}

.product-card__text {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 33px;
    align-items: center;
  }
}

.product-card__title {
  width: 76px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 159px;
    margin-bottom: 18px;
    text-align: center;
  }
}

.product-card__title-link {
  text-decoration: none;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__list {
  min-width: 140px;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  border-spacing: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product-card__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 8px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    font-size: 16px;
    border-bottom: 1px solid $special-grey;
  }
}

.product-card__term {
  padding: 0;
}

.product-card__value {
  padding: 0;
}

.product-card__order {
  grid-column: 1 / -1;
  width: 100%;
  margin: auto;
}
