.programs {
  @include wrapper;
  margin-bottom: 20px;
  padding: 20px 22px 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  width: 100%;
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__item-wrapper {
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 74px 0 56px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
  }
}

.programs__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 69px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  &--slim::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-back-slim.svg");
    background-repeat: no-repeat;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      top: 0;
      left: 63%;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: -35px;
      left: 0;
      background-size: 100px 106px;
    }
  }

  &--fat::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -9px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-back-fat.svg");
    background-repeat: no-repeat;
    background-size: 67px 50px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      top: 0;
      left: 60%;
      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: -35px;
      left: 0;
      background-size: 134px 100px;
    }
  }
}

.programs__desc {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  color: $special-dark-grey;
  border-bottom: 1px solid $header-border;

  @media (min-width: $tablet-width) {
    width: 57%;
    margin-bottom: 48px;
    padding-bottom: 0;
    color: $basic-black;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.programs__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    right: 0;
    background: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:active {
    opacity: 0.3;
  }
}
