.programs {
  @include wrapper;
  margin-bottom: 20px;
  padding: 20px 22px 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  width: 100%;
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__image--slim {
  position: absolute;
  top: 21px;
  left: 22px;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 63%;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 106px;
  }
}

.programs__image--fat {
  position: absolute;
  top: 24px;
  left: 13px;

  @media (min-width: $tablet-width) {
    top: 92px;
    left: 58%;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
  }
}

.programs__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    width: 57%;
    padding: 74px 0 56px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 77px 51px 55px 52px;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 69px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__desc {
  margin: 0;
  padding-bottom: 23px;
  color: $special-dark-grey;
  border-bottom: 1px solid $header-border;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-bottom: 0;
    color: $basic-black;
    border-bottom: none;
  }
}

.programs__link {
  position: relative;
  margin-top: 15px;
  padding-right: 15px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 125px;
    width: 32px;
    height: 10px;
    background: url("../../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:active {
    opacity: 0.3;
  }
}
