.selection {
  width: 100%;
  min-height: 480px;
  margin-bottom: 20px;
  background-image: url("../img/bg-selection-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 850px;
    margin-bottom: 0;
    padding: 0 30px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    min-height: 696px;
    margin: 0 auto;
    margin-top: -242px;
    margin-bottom: 82px;
    padding: 0;
    background: url("../img/bg-selection-desktop.jpg"), linear-gradient(90deg, $green-gradient 50%, $green-gradient 50%);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
  }
}

.selection__wrapper {
  @include wrapper;
  position: relative;
  flex-direction: column;
  display: flex;
  max-width: 1220px;
  min-height: 480px;
  margin: 0 auto;
  padding-top: 27px;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat;
  background-size: auto 270px;
  background-position: center 167px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 850px;
    margin-top: 0;
    padding: 0;
    padding-left: 90px;
    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    background-size: auto 609px;
    background-position: center 240px;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    padding-top: 224px;
    background-image: url("../img/index-can-desktop.png");
    background-repeat: no-repeat;
    background-size: auto 499px;
    background-position: 448px 205px;
  }
}

.selection__title {
  z-index: 1;
  margin: 0;
  margin-bottom: 25px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }
}

.selection__text {
  z-index: 1;
  margin: 0;
  margin-bottom: 29px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
  }
}
